@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
background-color: rgb(250, 235, 214);
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(0, 0, 0);
width: 100%;
position: fixed;

display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 1.8em;
 font-weight: 700;
}
.nav a{
    text-decoration: none;
    color: aliceblue;
 font-weight: 500;
 font-size: 1.1em;
    text-transform: uppercase; 
    padding: 30px;
}
.nav a:hover{
    color: chocolate;
}
section{
padding: 50px 100px;
min-height: 100%;
}
.main{
    padding: 100px 0px 0px 200px;
    width: 100%;
    min-height: 100vh;
display: flex;
align-items: center;
flex-direction: row;
}
.main h2{
font-size: 1.4em;
font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
font-size: 3em;
font-weight: 600;
color: #b06a09;
}
.main-btn{
color: aliceblue;
text-decoration: none;
background-color: #d2691e;
font-size: 1.3em;
font-weight: 600;
display: inline-block;
padding: 25px 50px;
border-radius: 15px;
letter-spacing: 1px;
margin-top :10px;
margin-bottom: 40px; 
transition: 0.7s ease;
}
.main-btn:hover{
    background-color: black;
    color: rgb(255, 109, 5);
    transform: scale(1.1);
}
.icons a{
    color: rgb(210, 105, 30);
padding-right: 30px;
font-size: 30px;
transition: 0.5s ease;
}
.icons a:hover{
   
    color: rgb(0, 0, 0);
  
}
#Ficon{
    padding-left: 55px;
  
}
.me{
    padding-left: 100px;
     height: 650px;
    width: 720px;
}
.title{
    
    display: flex;
    justify-content:center;
    font-size: 2.2em;
    font-weight: 800;
    padding-top: 70px;
   
}
.about .content p {
    font-size: 25px;
    }
#about{
    background-color:  rgba(235, 251, 255, 34%);
}
.title-projects{
    
    display: flex;
    justify-content:center;
    font-size: 2.2em;
    font-weight: 800;
    padding-top: 100px;
   margin-bottom: 20px;
}
.projects{
margin-bottom: 70px;


}
.content{
   
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.pro{
    width: 350px;
    padding: 0px 25px 25px 25px;
    border: 1px solid black;
background-color: rgb(250, 235, 214);
box-shadow: 0px 0px 15px 5px rgb(1 1 1 / 15%);
border-radius: 10px;
margin: 15px;
transition: 0.5s ease;
padding-bottom: 10px;
}
.pro p strong {
    text-decoration: none;
}
.a2 .pro .photo{
    margin-bottom: 40px;
}
.pro:hover{
transform: scale(1.1);
.photo{opacity: 0.8;}
}
.content a{
    text-decoration: none;
    color: black;
}
.info{
    margin: 10px;
    text-align: center;
}
#contact{
    background-color:  rgba(235, 251, 255, 34%);
}
.acc{
    padding-top: 50px;
    padding-bottom: 50px;
width: 500px;
height: 400px;
background-color: rgb(250, 235, 214);
box-shadow: 0px 0px 15px 5px rgb(1 1 1 / 15%);
border-radius: 10px;
border: 1px solid black;
}
.link{
    padding-bottom: 5px;
}
.acc #Ficon{
    z-index: 1000;
    color: rgb(210, 105, 30);
padding-right: 30px;
font-size: 50px;
transition: 0.5s ease;
}
.acc #Ficon:hover{
   
    color: rgb(0, 0, 0);
  
}
 .acc .words  {
  text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: 0.3s ease;
}
 .acc .words:hover{
    color: rgb(210, 105, 30);
}
.project-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:flex-start;
     justify-content: space-between;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
   
}
.text {
    font-weight: 500;
    font-size: large;
    width: 500px;
    margin-top: 65px;
    flex: 1;
    margin-right: 20px;
  }
  .text .title{
margin-bottom: 70px;
  }
 .img{   
    width: 300px;
    border-radius: 8px;
     display: flex;
    flex-wrap: wrap;
    margin-right: 350px;
    margin-top: 65px;
    flex-direction: column;
    justify-content: flex-end; 
}
.img img{
width: 650px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.project-2{
    height: 100vh;
    background-color:  rgba(235, 251, 255, 34%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px  20px 20px 20px;
    justify-content: space-between;
}

.project-2 .text{
    margin-top: 0px;
}
.img2{   
    height: 450px;
    margin-bottom: 50px;
   margin-right: 0px;
   margin-top: 150px;   
}
.img2 img{
  
    margin-top: 0px;
width: 500px;
 height: 300px;
 margin-bottom: 10px;
 border-radius: 10px;

}
.project-3{
padding: 0px;
}
.project-3 .content{
    padding-top: 50px;
}
.project-3 .text{
    margin-top: 0px;
}
.project-3 .text{
font-size: medium;

}
.img3{
    height: 600px;
padding-top: 180px;
   margin-right: 0px;
   margin-top: 0px;

}
.img3 img{
   position: static;
    margin-top: 0px;
width: 500px;
 margin-bottom: 10px;
 border-radius: 10px;

}
